.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1128px;
  height: 200px;
}

.gallery img {
  margin-right: 156px;
  margin-left: 156px;
  cursor: pointer;
  transition: transform 0.3s;
}
