.gallery-item {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-right: 156px;
  margin-top: 24px;
  margin-bottom: 24px;
  gap: 24px;
  justify-content: center;
}
.gallery-image {
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 360px;
  height: 200px;
}
.gallery-image:hover {
  transform: scale(1.1);
}
.gallery image:hover {
  transform: scale(1.05);
}
.modal {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-content {
  margin: 164px;
  width: 1112px;
  height: 640px;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
